.body {
    background-color: #292929;
    color: #00ffdd;
    font-family: stylish;
    font-size: 1.4rem;

}

.jaune {
    color: #ffff00;
}
.barre {
    text-align: center;
    background-color: #292929;
    color: #00ffdd;
}

@font-face {
    font-family: stylish;
    src: url(police/ZenDots-Regular.ttf);
} 


[class*="col-"] {
    background-color: #292929;
    border: 2px solid #000000;
    margin-top: 5px;
    margin-bottom: 10px;
    border-width: 0px;
    text-align: center;
    
  }

  .titre {
    border-radius: 30px;
    border-width: 2px;
    border-color:cyan ;
    background-color: rgb(68, 68, 68);
    font-size: 2rem;
    text-align: center;
    padding: 5px;

  }

  .imagem
{
    width: 300px;
    height: 200px;
   margin: 10px;
   padding: 3px;
}
  .image {
    width: 200px;
    height: 125px;
   margin: 10px;
   padding: 3px;
  }

  .underline {
    text-decoration: underline;
  }
  
  .titre {
    text-align: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
}

.element {
    color:#ffff00 ;
    font-size: 1.8rem;
    text-align: left;
}

.header {
    background-color: #404040;
    border: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.footer {
    background-color: #404040;
    border: 10px;
    padding: 10px;
 
}

@font-face {
    font-family: stylish;
    src: url(police/ZenDots-Regular.ttf);
}

.body {
 background-color: #292929;
 color: #00ffdd;
 font-family: stylish ;
 font-size: 1.4rem;

}

.black {
    background-color: #292929;
}

.grey {
    background-color: #404040;
}

.greylight{
    background-color: #575757;
}
.icone {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.borderless {
    border-width: 0px;
}
.neonbleue {
    text-shadow: 0 0 60px rgba(0, 255, 225, 0.8);
}

.neonjaune {
    text-shadow: 0 0 60px rgba(251, 255, 0, 0.8);
}

.right {
    text-align: right;
}
.left {
    text-align: left;
}
.center {
    display: flex;
    align-items: center;
   
}

.borderless {
    border-width: 0px;
}