
.titre {
    text-align: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.element {
    color:#ffff00 ;
    font-size: 1.8rem;
    text-align: left;
}

.header {
    background-color: #404040;
    border: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.footer {
    background-color: #404040;
    border: 10px;
    padding: 10px;
    width: 99.8%;
    top : 220%;
    position: absolute;
 
}
h1 {
    color: #0fd;
}

@font-face {
font-family: stylish;
src: url(police/ZenDots-Regular.ttf);
}

.body {
 background-color: #292929;
 color: #00ffdd;
 font-family: stylish;

}

.black {
    background-color: #292929;
}

.grey {
    background-color: #404040;
}

.greylight{
    background-color: #575757;
}
.icone {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.borderless {
    border-width: 0px;
}
.neonbleue {
    text-shadow: 0 0 60px rgba(0, 255, 225, 0.8);
}

.neonjaune {
    text-shadow: 0 0 60px rgba(251, 255, 0, 0.8);
}

.right {
    text-align: right;
}
.left {
    text-align: left;
}
.center {
    display: flex;
    align-items: center;
   
}
.deroulant {
    color: #00ffdd;
    background-color: #292929;
}
.carousel{
    width: 25%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}
#search{
    margin-left: 38%;
    margin-right: 38%;
    border-radius: 5%;
    background-color: #292929;
}
input[type=search]{
    background-color: #AAAAAA;

}
 #navi{
    background-color: #292929 ;
}
.container{
    background-color: #404040 ;
    border-radius:  1cm 1cm 0 0;
    padding: 0%;
}
.container-onglet{
    display: flex;
    width: 25;
    height: 20%;
    border-bottom: solid 1px #AAAAAA;

}
.onglet{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    cursor: pointer;
    padding-top: 1%; 
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    border-right: solid 1px #AAAAAA;
}
.onglet:nth-child(4){
    padding-top: 1%; 
    padding-bottom: 1%;
    padding-left: 7%;
    padding-right: 7%;  
}
.contenu-container{
    display: flex;
}
.contenu{
    position: absolute;
    padding: 1%;
    opacity: 0%;
    padding-right: 4%;
    background-color: #404040;
    height: 150%;
    width: 93%;
}
.uno {
    left : 2%;
    top: 10%;
}
.dos {
    left : 38%;
    bottom : 22%;
}
.tres {
    left : 74%;
    bottom : 54%;
}
.quatro {
    left : 2%;
    bottom : 42%
}
.cinquo{
    left : 38%;
    bottom : 73.5%
}
.six {
    left: 74%;
    bottom: 105.5%;
}
.putain{
    width: 50px;
    padding-right: 10px;
}
.Date {
    position: absolute;
    width: 100px;
}
.vsoct{
    bottom: 92%;
    left: 2%;
}
.unnov{
    bottom: 92%;
    left: 36%;
}
.denov{
    bottom: 92%;
    left: 70%;
}
.troinov{
    bottom: 47%;
    left: 2%;
}
.dspnov{
    bottom: 47%;
    left: 36%;
}
.sptdec{
    bottom: 47%;
    left: 70%;
}
/* .miaou {
    height: 300px ;
    width: 600px !important; 
} */
/* anim */
.oActive{
    background: #242424;
    text-decoration: solid ;
}
.activeContenu{
    animation:fade 0.5s forwards;
    z-index: 10;
}
@keyframes fade{
    from{opacity: 0%;} to {opacity: 100%;}
}